@charset "UTF-8";

/**
 * 공통
 */

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#contents .xans-product-detail {
  width: unset;
}

.reservation_detail_area * {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  position: unset;
  float: unset;
}

.reservation_option_area .infoArea * {
  padding: 0px;
  margin: 0px;
  border: 0px;
  display: block;
  text-decoration: none;
  position: unset;
  float: unset;
}

.reservation_option_area .infoArea {
  padding: 0px;
  margin: 0px;
  float: unset;
}

html.lockScroll {
  overflow: hidden;
}

.reservation_area colgroup {
  display: table-column-group;
}

.reservation_area col {
  display: table-column;
}

.reservation_area .reservation_prod_name {
  color: #000;
  font-family: inherit;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 7px;
  margin-top: 0;
}

.reservation_area .reservation_prod_desc {
  color: #848c94;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  margin-bottom: 15px;
}

.reservation_area .reservation_dc_price {
  color: #1769ff;
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 7px;
}

.reservation_area .reservation_product_price {
  color: #000;
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 5px;
}

.reservation_area .reservation_product_custom {
  color: #000;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: line-through;
  margin-bottom: 2px;
}

.reservation_area .price_area {
  width: 100%;
}

.reservation_area .mapArea {
  
}

.reservation_area .price_wrap .price_area span {
  display: inline;
}

.reservation_area .prod_summary {
  padding: 15px 15px;
  font-size: 13px;
}

.modal-kakaomap {
  display: none;
}

.modal-kakaomap.on,
.modal-review.on {
  opacity: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: visible;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-kakaomap .modalWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  box-sizing: border-box;
  height: auto;
  padding: 30px;
  background-color: #fff;
  min-width: 640px;
}

.modal-kakaomap .modalWrap .modal-header,
.modal-review .modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  color: #495056;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.modal-kakaomap .modalWrap .modal-header button,
.modal-review .modal-header button {
  border: 0;
  padding: 0;
  background: transparent;
}

.modal-kakaomap,
.modal-review {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.wrap_controllers {
  display: none;
}

.reservation_area .reservation_board_area {
  margin: 0;
  padding: 0;
  background: #fff;
}

.reservation_area .reservation_board_area ul.link {
  border-bottom: 1px solid #c7c7c7;
  display: flex;
  align-items: center;
  margin: 0;
  padding-top: 0;
}

.reservation_area .reservation_board_area ul.link li {
  border-top: 0;
  width: 25%;
  height: auto;
  margin: 0 0 -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
}

.reservation_area .reservation_board_area ul.link li.selected a {
  top: 0;
  background-color: transparent;
  color: #000;
  border-bottom: 3px solid #333;
  margin-bottom: 1px;
}

.reservation_area .reservation_board_area ul.link li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 54px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: #666;
  border: 0;
  padding: 15px 0;
  border-bottom: 3px solid transparent;
  background-color: transparent;
  box-sizing: border-box;
  top: 0;
  text-decoration: none;
}

.reservation_area .reservation_board_area .cont {
  color: #343a40;
  font-size: 14px;
  font-weight: 400;
  line-height: 153%;
  padding: 48px 0;
}

.reservation_area .reservation_board_area ul.link li a span {
  display: inline-block;
  line-height: 19px;
  height: 20px;
  padding: 0 3px;
  text-align: center;
  min-width: 14px;
  background-color: #c7c7c7;
  color: #fff;
  font-weight: 500;
  font-size: 11px;
  border-radius: 4px;
  margin-left: 7px;
  vertical-align: 1px;
}

.reservation_area .product_review > ul > li {
  overflow: hidden;
  position: relative;
  padding: 14px 0;
  min-height: 43px;
  color: #757575;
  border-bottom: 1px solid #d5d5d5;
}

.reservation_area .product_review .reivewCon {
  padding: 34px 0;
  border-bottom: 1px solid #dee2e6;
}

.reservation_area .product_review > ul > li:first-child {
  border-top: 1px solid #d5d5d5;
}

.reservation_area .product_review .reivewCon .reviewTop {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #343a40;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.reservation_area .product_review .reivewCon .txtLess {
  color: #848c94;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.reservation_area .product_review .reivewCon .subject {
  color: #343a40;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.reservation_area .product_review .reivewCon .contents {
  color: #343a40;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}

.reservation_area .reservation_board_area ul.link li.selected a span {
  background-color: #424242;
}

.reservation_area .product_review .reviewBtnArea .btn-line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 47px;
  border-radius: 5px;
  border: 1px solid #d7d7d7;
  background: #fff;
  color: #000;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.reservation_area .product_review .reviewBtnArea .btn-fill {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 47px;
  border-radius: 5px;
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.reservation_area .product_qna .ec-base-table.typeList tbody {
  display: table-row-group;
}

.reservation_area .product_qna .ec-base-table.typeList td.subject {
  font-size: 14px;
}

.reservation_area .product_qna .ec-base-table.typeList tr {
  border-bottom: unset;
  display: table-row;
}

.reservation_area .product_qna .ec-base-table.typeList td,
.reservation_area .product_review .ec-base-table.typeList .center td {
  border-top: 0;
  font-size: 14px;
  font-weight: 400;
  color: #343a40;
  border-bottom: 1px solid #dee2e6;
  display: table-cell;
  float: unset;
}

.reservation_area .product_qna .reviewBtnArea .btn-line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 47px;
  border-radius: 5px;
  border: 1px solid #d7d7d7;
  background: #fff;
  color: #000;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.reservation_area .product_qna .reviewBtnArea .btn-fill {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 47px;
  border-radius: 5px;
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.reservation_area .product_review .ec-base-table.typeList tbody {
  display: table-row-group;
}

.reservation_area .product_review .ec-base-table.typeList .center tr {
  border-bottom: unset;
  display: table-row;
}

.reservation_area .product_review .ec-base-table.typeList .center td.subject {
  font-size: 14px;
}

.reservation_area .product_review #product-review-read {
  background-color: #fbfbfb;
}

.reservation_area .product_review #product-review-read p {
  color: black;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  padding: unset;
  max-width: unset;
  max-height: unset;
}

.reservation_area .reservation_option_area {
  flex: 0 0 320px;
}

.reservation_area .reservation_option_area .sticky {
  position: sticky;
}

.reservation_option_area .add_products,
.reservation_option_area .option_products {
  display: contents;
}

.reservation_option_area .accordionWrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
  margin: 0;
}

.reservation_option_area .accordionWrap .item {
  border-radius: 10px;
  border: 1px solid #e9ecef;
  background: #fff;
  position: relative;
  margin: 0;
  list-style: none;
}

.reservation_option_area .accordionWrap .item .itemName {
  padding-right: 22px;
  margin: 16px 0 16px 16px;
  color: #000;
  text-align: left;
  font-family: inherit;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: block;
  text-decoration: none;
  line-height: 14px;
}

.reservation_option_area .accordionWrap .item .itemName .tit {
  white-space: nowrap;
}

.reservation_option_area .accordionWrap .item .itemOption {
  
}

.reservation_option_area .accordionWrap .item.ac .itemOption {
  display: block;
}

.reservation_option_area #air_datepicker_single {
  display: none;
}

.reservation_option_area #air_datepicker_multi {
  display: none;
}

.reservation_option_area .datepicker-inline .datepicker {
  border: 0;
  width: 100%;
}

.reservation_option_area .datepicker--day-name {
  font-size: 12px;
  color: #848c94;
}

.reservation_option_area .datepicker--cell.-current- {
  color: #1769ff;
}

.reservation_option_area .datepicker--cell.-selected-.-current-,
.datepicker--cell.-selected-,
.datepicker--cell.-selected-.-current-:hover,
.datepicker--cell.-selected-:hover {
  background: #1769ff;
  color: #fff;
  border: none;
}

.reservation_option_area .datepicker--cell.-selected-.-focus- {
  background: #1769ff;
  color: #fff;
  border: none;
}

.reservation_option_area .datepicker--cell.-range-to- {
  background: #1769ff;
  color: #fff;
  border: none;
}

.reservation_option_area .datepicker--cell.-range-from- {
  background: #1769ff;
  color: #fff;
  border: none;
}

.reservation_option_area .datepicker--cell.-in-range- {
  border: none;
}

.reservation_option_area .datepicker--cell.-in-range-.-focus- {
  background-color: #1769ff;
}

.reservation_option_area .datepicker--nav {
  justify-content: center;
  border-top: 1px solid #efefef;
}

.reservation_option_area .timeWrap .timeGroup {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #e9ecef;
  gap: 9px 11px;
  padding: 13px;
  padding-bottom: 13px;
}

.reservation_option_area .timeWrap .timeGroup .time {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: calc((100% - 33px) / 4);
  border-radius: 10px;
  border: 1px solid #e9ecef;
  font-weight: 400;
  background: #fff;
  box-sizing: border-box;
}

.reservation_option_area .timeWrap .timeGroup .time.ac {
  font-weight: 700;
  background: #1769ff;
}

.reservation_option_area .timeWrap .timeGroup .time a {
  color: #494949;
  line-height: 34px;
  text-align: center;
  font-family: inherit;
  font-size: 13px;
  font-style: normal;
}

.reservation_option_area .timeWrap .timeGroup .time.ac a {
  color: #fff;
}

.reservation_option_area .option {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 8px 10px 5px;
  border-top: 1px solid #e9ecef;
}

.reservation_option_area .option > div {
  margin: 0;
  padding: 0;
}

.reservation_option_area .option .optionItem a {
  min-height: 27px;
  display: flex;
  align-items: center;
  color: #494949;
  font-family: inherit;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 2px 10px;
  border-radius: 10px;
  text-decoration: none;
}

.reservation_option_area .option .optionItem:hover a,
.option .optionItem.ac a {
  background: #f3f3f3;
}

.reservation_option_area .item-option2 .desc {
  color: #848c94;
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 5px;
}

.reservation_option_area .option .optionItem a {
  min-height: 27px;
  display: flex;
  align-items: center;
  color: #494949;
  font-family: inherit;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 2px 10px;
  border-radius: 10px;
  text-decoration: none;
}

.reservation_option_area .option .optionItem:hover a,
.option .optionItem.ac a {
  background: #f3f3f3;
}

.reservation_option_area .add_product_option .option {
  padding: 0px;
}

.reservation_option_area .add_product_option .information {
  margin-bottom: 7px;
}

.reservation_option_area .add_product_option .itemOption {
  margin-bottom: 7px;
}

.reservation_option_area .add_product_option .xans-record- {
  margin-bottom: 10px;
}

.reservation_option_area .accordionWrap .itemOption .item {
  border: 0px;
}

.reservation_option_area .infoArea {
  max-width: 100%;
  width: 100%;
}

.reservation_option_area .single_product td:first-child,
.reservation_option_area .add_product td:first-child,
.reservation_option_area .option_product td:first-child {
  
}
.reservation_option_area .single_product .product br,
.reservation_option_area .add_product .product br,
.reservation_option_area .option_product .product br {
}

.reservation_option_area .QuantityUp,
.reservation_option_area .eAddProductQuantityUpClass,
.reservation_option_area .eProductQuantityUpClass {
  content: "";
  width: 14px;
  height: 14px;
  background: url(https://m-img.cafe24.com/images/reservation/ic_calc_up.svg)
  center no-repeat;
  position: absolute;
  left: 70px;
  bottom: 20px;
  top: unset;
}

.reservation_option_area .QuantityDown,
.reservation_option_area .eAddProductQuantityDownClass,
.reservation_option_area .eProductQuantityDownClass {
  content: "";
  width: 14px;
  height: 14px;
  background: url(https://m-img.cafe24.com/images/reservation/ic_calc_down.svg)
  center no-repeat;
  position: absolute;
  left: 24px;
  bottom: 2px;
}


.reservation_option_area .add_product td:nth-child(2),
.reservation_option_area .add_product td:nth-child(3),
.reservation_option_area .option_product td:nth-child(2),
.reservation_option_area .option_product td:nth-child(3) {
  border-top: 0px;
  height: 0px;
}


.reservation_option_area
#totalProducts
tbody.add_products
tr
td
.quantity
input {
  border-radius: 5px;
  border: 1px solid #d6dadf;
  background: #fff;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 25px;
  box-sizing: border-box;
  color: #343a40;
  text-align: center;
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 23px;
  position: absolute;
  bottom: -15px;
  left: -270px;
}

.reservation_option_area #totalProducts tbody td img {
  display: none;
}

.reservation_option_area .add_product .delete,
.option_product .delete {
  background: url(https://m-img.cafe24.com/images/reservation/ic_delete_item.svg)
  center no-repeat;
  background-size: 20px;
}

.reservation_area .contentView {
  background: #f9f9f9;
  color: #757575;
  font-size: 15px;
  text-align: left;
  word-wrap: break-word;
  border-bottom: 1px solid #d5d5d5;
}

.reservation_area #product-review-read .view {
  width: unset;
  height: unset;
  text-align: unset;
}
.reservation_area .xans-product-review .contentView .view {
  margin: 0;
  padding: 14px;
}

.reservation_area #product-review-read .ec-base-button {
  display: none;
}

.reservation_area #product-review-read form {
  display: none;
}

.reservation_area .product_review .reivewCon .contents {
  color: #343a40;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}

.reservation_area .product_qna #product-qna-read {
  background-color: #fbfbfb;
}
.reservation_area .product_qna .ec-base-table.typeList tr {
  border-bottom: unset;
  display: table-row;
}

.reservation_area #product-qna-read .view {
  font-size: 14px;
  line-height: 1.6;
  text-align: left;
  background-color: #fbfbfb;
  width: unset;
  height: unset;
}

.reservation_area .product_qna #product-qna-read p {
  color: black;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  padding: unset;
  max-width: unset;
  max-height: unset;
}

.reservation_area .product_qna #product-qna-read p span {
  background-color: #fbfbfb;
  font-family: inherit;
}

.reservation_area .product_qna #product-qna-read .ec-base-button {
  display: none;
}

.reservation_area .product_qna #product-qna-read td form > input {
  display: none;
}

.reservation_area .product_qna #product-qna-read td form .view input {
  width: 180px;
  height: 35px;
  box-sizing: border-box;
  border: 1px solid #e8e9ea;
  background: #fff;
}

.reservation_area
.product_qna
#product-qna-read
td
form
.view
input[type="button"] {
  border-radius: 5px;
  border: 1px solid #d7d7d7;
  width: 45px;
  margin-left: 3px;
}

.reservation_area .product_qna #product-qna-read form .commentSecret {
  display: none;
}

.reservation_area .totalPrice .total {
  float: right;
  font-family: Tahoma, sans-serif;
  color: #508bed;
  display: flex;
  width :auto;
}
.reservation_area .totalPrice,
.totalPrice .total {
  color: #343a40;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.reservation_option_area.on {
  display: flex;
}

.modal-prodImg {
  display: none;
}

.modal-kakaomap [class^="btn"] + [class^="btn"] {
  margin-left: 0px;
}

.reservation_area .calendar .control {
  border-top: 1px solid #e9ecef;
  padding: 2px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reservation_area .calendar .control .cancel {
  display: inline-block;
  padding: 10px;
  color: #9a9a9a;
  text-align: center;
  font-family: inherit;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.reservation_area .calendar .control .complate {
  display: inline-block;
  padding: 10px;
  color: #1769ff;
  text-align: center;
  font-family: inherit;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.reservation_area .timeWrap .control {
  border-top: 1px solid #e9ecef;
  padding: 2px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reservation_area .timeWrap .control .cancel {
  display: inline-block;
  padding: 10px;
  color: #9a9a9a;
  text-align: center;
  font-family: inherit;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.reservation_area .timeWrap .control .complate {
  display: inline-block;
  padding: 10px;
  color: #1769ff;
  text-align: center;
  font-family: inherit;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.reservation_area .scrollWrap > div {
  margin: 0;
  padding: 0;
}

.reservation_area #product-qna-read .memoCont {
  display: none;
}

.reservation_area .product_review .point {
  margin-bottom: 5px;
}
.reservation_area .totalPrice .total strong {

  margin-right:3px;
}
/**
 * =============================================================
 */

/**
 * 모바일
 */

/**
 * =============================================================
 */

.reservation_area .displaynone {
  display: none;
}

.reservation_area .information {
  margin: 16px;
  display: flex;
}

.reservation_area .information .thumbnail {
  width: 70px;
  margin-right: 16px;
}

.reservation_area .information .thumbnail img {
  max-width: 70px;
  max-height: 70px;
}

.reservation_area .itemOption .option .reservation_option_select .name {
  width: 100%;
  display: block;
  font-weight: 400;
  font-size: 12px;
}

.reservation_area .itemOption .option .reservation_option_select select {
  margin: 6px 0px 10px 0px;
  width: 100%;
}

.reservation_area .itemOption > li {
  border-top: 1px solid #e9ecef;
}

.reservation_option_area .add_product .product span,
.reservation_option_area .option_product .product span {
  font-size:12px;
  display: contents;
}

.reservation_area .information div .price span {
  font-size: 12px;
}

#totalProducts .quantity a:before,
#totalProducts .quantity .up:after,
#totalProducts table p:not(.product) a:before,
#totalProducts .eAddProductQuantityUpClass:after {
  background: unset;
}

#totalProducts .quantity .down {
  top: unset;
}

#prdReview,
#prdQnA,
#prdInfo {
  display: block;
}

.nodata {
  margin: 30px;
  text-align: center;
}

#totalProducts table p:not(.product) .up:after {
  background: unset;
}

.xans-product-detail .infoArea #totalProducts .option_product {
  background: unset;
}

#totalProducts {
  display: block;
}

@media screen and (min-width: 767px)
{
  .reservation_area .totalPrice {
    display: flex;
  }
}
/*썸네일, 상품 이미지 강제 조정*/
.reservation_area .m_product_detail .paginate{position: absolute;bottom: 20px;left: 0;right: 0;text-align: center;}
.reservation_area .m_product_detail .imgCount{display:none;}
.ec-base-paginate.typeSwipe button.circle {margin: 0 6px;background-color: #d0ac88;opacity: 0.3;}
.xans-product-detail .ec-base-paginate.typeSwipe button.circle{margin:0 6px;width:8px;height:8px;display: inline-block}
.xans-product-detail .ec-base-paginate.typeSwipe button.circle.selected{background-color: #d0ac88;opacity: 1;}
#layout #header{position:relative;}
#layout #header.scroll{position:fixed;}
#zoom_wrap{display:none;}

.reservation_area .d-mobile:last-child{display:none}
#container #contents{width:100%}
.reservation_option_area #totalProducts table {width: 100%;}
.reservation_option_area #totalProducts .option_products td:nth-child(3) a{
  position: absolute;
  display: block;
  content: url(https://m-img.cafe24.com/images/reservation/ic_delete_item.svg);
  width: 20px;
  height: 20px;
  top: 15px;
  right: 10px;
  z-index: 99;
  position:absolute;
}
.reservation_option_area #totalProducts .option_products td:nth-child(1){
  width:100%;
}

.reservation_option_area #totalProducts .option_products td:nth-child(1) a.up{
  position: absolute;
  left: 88px;
  bottom: 22px;
  top: unset;
  content: "";
  width: 14px;
  height: 14px;
  background: url(https://m-img.cafe24.com/images/reservation/ic_calc_up.svg) center no-repeat;
}
.reservation_option_area #totalProducts .option_products td:nth-child(1) input{
  border-radius: 5px;
  border: 1px solid #d6dadf;
  background: #fff;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97px;
  height: 30px;
  box-sizing: border-box;
  color: #343a40;
  text-align: center;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 23px;
  position: relative;
  top: unset;
  left: 0px;
  bottom: -10px;
}
.reservation_option_area #totalProducts .option_products td:nth-child(1) a.down{
  position: absolute;
  left: 25px;
  bottom: 22px;
  top: unset;
  content: "";
  width: 14px;
  height: 14px;
  background: url(https://m-img.cafe24.com/images/reservation/ic_calc_down.svg) center no-repeat;
}
.reservation_option_area .option_product {width:100%;}
#layout .reservation_option_area #totalProducts table{width:100%;}
@media screen and (min-width:760px) {

  #totalProducts .quantity input{
    border-radius: 5px;
    border: 1px solid #d6dadf;
    background: #fff;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97px;
    height: 30px;
    box-sizing: border-box;
    color: #343a40;
    text-align: center;
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 23px;
    position: relative;
    top: unset;
    left: 15px;
    bottom: 45px;
  }
  #totalProducts .quantity .up {
    position: absolute;
    left: 88px;
    bottom: 22px;
    top:unset;
    content: "";
    width: 14px;
    height: 14px;
    background: url(https://m-img.cafe24.com/images/reservation/ic_calc_up.svg) center no-repeat;
  }
  #totalProducts .quantity .down {
    position: absolute;
    left: 25px;
    bottom: 22px;
    top:unset;
    content: "";
    width: 14px;
    height: 14px;
    background: url(https://m-img.cafe24.com/images/reservation/ic_calc_down.svg) center no-repeat;
  }
  .reservation_option_area .add_product .delete, .option_product .delete {z-index:9;}
  #totalProducts .delete {
    position: absolute;
    display: block;
    content: url(https://m-img.cafe24.com/images/reservation/ic_delete_item.svg);
    width: 20px;
    height: 20px;
    top: 15px;
    right: 15px;
    transform : none;
    z-index: 99;
  }
  #totalPrice .total > * {
    display:inline;
  }

  #sidebar {
    display:none;
  }

  .reservation_area .ec-base-help {
    padding-left : 10px;
  }


  .reservation_option_area #totalProducts .mileage {
    display: flex;
  }
  .reservation_option_area .input_addoption {
    width: 180%;
  }
}
#totalProducts a[class*='Up']::before,
#totalProducts a[class*='Down']::before,
.reservation_option_area #totalProducts tbody td .quantity .up::before,
.reservation_option_area #totalProducts tbody td .quantity .down::before {
  content: '';
}

#totalPrice > :first-child {
  min-width: 95px;
}
#totalPrice .total {
  width: 100%;
  text-align: right;
  display: block;
}
.xans-product-additional #prdDetail img,
.xans-product-additional #prdInfo img{
  width: 100%;
}

.reservation_option_area .add_product .option .middle{
  border: 0px;
  padding: 0px;
}
.reservation_option_area .add_product .option{
  display: block;
  padding : 0px;
  border: 0px;
}
.reservation_option_area tr.add_product > td > table tr:first-child td{
  border:0px;
  padding-top :0px;
}

.reservation_option_area .add_product > td > table{
  /*position: relative	;*/
  width :318px;
  margin-left: -15px;
}
.reservation_option_area .add_products .add_product table .right {
  width :120%;
}
.reservation_option_area .add_product .option table{
  margin-bottom: 10px;
  margin-left :15px;
}

.reservation_option_area .single_product, .reservation_option_area .add_product .option .txtByte{
  display:inline-flex;
}
.reservation_option_area .single_product, .reservation_option_area .add_product .option caption{
  display: none;
}
.reservation_option_area .input_addoption {
  border: 1px solid #e0e0e0;
  text-indent: 10px;
  margin-bottom: 5px;
  height: 35px;
}
.reservation_option_area #totalProducts .quantity  {
  position : relative;
}