<div class="main_top_banner ez-align-left" data-ez-module="top-banner" data-ez-align="left" data-ez-role="style.color" data-ez-display="hidden" data-ez="contents-1uenqh6-1" style="display: none;">
	<div class="top_banner_box_inner">

		<div class="top_banner_text">
			<!-- 최상단 배너 수정하는곳 -->
			<a data-ez-role="a" href="#" data-href="#" target="_self" style="color: black; font-weight: normal;">
				첫 쇼핑을 지원하는 3,000원 할인 회원가입 쿠폰
			</a>
		</div>

		<div class="top_banner_close" data-ez-role="close">
			<input type="checkbox" name="chkbox" id="top_banner_box_cloase" value="1" data-ez-role="disable-term">
			<label for="top_banner_box_cloase" data-ez-role="disable-text">오늘 하루 보지 않기</label>
			<i aria-hidden="true" class="icon icoClose">닫기</i>
		</div>
	</div>
</div>

<header id="header" class="layout5" data-ez-layout="layout5" data-ez="contents-1kbhajm-1" style="margin-bottom: 0px;">
	<ez-prop data-version="1.0.0" type="layout">
		<ez-var data-prop="layout" data-namespace="ez.layout.header.layout" data-type="array">
			<ez-item data-id="layout3" data-name="1단 기본형"></ez-item>
			<ez-item data-id="layout2" data-name="2단 좌측형"></ez-item>
			<ez-item data-id="layout4" data-name="2단 혼합형"></ez-item>
			<ez-item data-id="layout1" data-name="2단 중앙형 (아이콘 하단)"></ez-item>
			<ez-item data-id="layout5" data-name="2단 중앙형 (아이콘 상단)"></ez-item>
		</ez-var>
	</ez-prop>
	<div class="inner">
		<div class="top_nav_box" id="top_nav_box">
			

			<div class="top_nav"><a href="javascript:;" class="eNavFold"><i aria-hidden="true" class="icon icoNav"></i></a></div>

			<div data-ez-module="menu-main/1" data-ez-mode="manual" class="fl alc jb">
				<div class="header_logo" module="Layout_LogoTop">
					<a href="/"><img src="{$logo}" alt="{$mall_name}"></a>
				</div>

				<div class="xans-element- xans-layout xans-layout-category top_category">
					<ul><li><a href="/brand.html">Brand</a></li><li><a href="/gallery.html">Gallery</a></li><li><a href="/price.html">Price</a></li><li><a href="/reservation.html">Reservation</a></li></ul>
				</div>

				<div class="header_login">
					<a module="Layout_statelogoff" href="/member/login.html">Login</a>
					<a module="Layout_stateLogon" href="{$action_logout}">Logout</a>
				</div>
      </div>
		</div>
	</div>
</header>
<!--#ez="1/4"-->