@charset "utf-8";

/* Common Style Guide - 202408 Rosse Studio _ hyunssun */

@import url(./hs_text.css);
@import url(./hs_button.css);
@import url(./hs_layout.css);
@import url(./hs_form.css);

@font-face {
	font-family: 'constantia';
	src: url(/font/constan.ttf);
}

/* Reset */
html,
body {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	width: 100%;
	/* max-width: 720px; */
  height: auto;
	margin: 0 auto;
  -webkit-overflow-scrolling: touch;
	font-family: 'Pretendard','constantia', 'Noto Sans KR', sans-serif;
	line-height: 1;
	box-sizing: border-box;
	font-size: 1.6rem;
	font-weight: normal;
	font-style: normal;
	color: #000;
	letter-spacing: normal;
	padding: 0;
	margin: 0;
	word-break: keep-all;
	transition: all 0.3s;
}
* {
	font-family: 'Pretendard','constantia', 'Noto Sans KR', sans-serif;
	line-height: 1;
	box-sizing: border-box;
	font-weight: normal;
	font-style: normal;
	color: #000;
	letter-spacing: normal;
	padding: 0;
	margin: 0;
	word-break: keep-all;
	transition: all 0.3s;
}

.tko *{
	font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
}

@media (max-width: 1560px)  {
	html, body {font-size: 54%;}
}
@media (max-width: 1440px)  {
    html, body {font-size: 50%;}
}
@media (max-width: 1150px)  {
    html, body {font-size: 42%;}
}


/*** 공통 클래스 ***/
.logo a{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 0;
}
br.pc{
	display: none;
}
.dn{
	display:none;
}
.dis-no{
	display:none !important;
}
.ir {
	overflow: hidden;
	height: 0;
	line-height: 0;
	text-indent: -9999px;
	font-size: 0;
}
.scr_not {
	height:100%; 
	min-height:100%; 
	overflow:hidden !important; 
	touch-action:none;
}
.hidden {
	opacity: 0;
	visibility: hidden;
}
.hidden.not {
	opacity: 1;
	visibility: visible;
	transition: opacity .3s ease;
}
.bold {
	font-weight: bold !important;
}
.abs {
    position: absolute;
}
.rel {
    position: relative;
}
.full{
	width: calc(100% + 3.2rem);
	height: 100%;
	margin-right: -1.6rem;
	margin-left: -1.6rem;
}

.fullImg_v img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.fullImg_t img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.talc{ text-align: center; }

.borderTop{ border-top: var(--border); }
.borderBot{ border-bottom: var(--border); }
.line_t{border-top: 1px solid var(--thumb);}
.line_b{border-bottom: 1px solid var(--thumb);}

.mr1{ margin-right: 1rem; }
.ml1{ margin-left: 1rem; }
.mt1{ margin-top: 1rem; }
.mb1{ margin-bottom: 1rem; }
.mcX{
	margin-left: auto;
	margin-right: auto;
}

.gap2_t{margin-top: 2rem;}
.gap3_t{margin-top: 3rem;}
.gap4_t{margin-top: 4rem;}
.gap2_b{margin-bottom: 2rem;}
.gap3_b{margin-bottom: 3rem;}
.gap4_b{margin-bottom: 4rem;}

/* 플렉스 */
.fl{display: flex;}
.fl.jc{justify-content: center;}
.fl.jb{justify-content: space-between;}
.fl.js{justify-content: flex-start;}
.fl.je{justify-content: flex-end;}
.fl.alc{align-items: center;}
.fl.als{align-items: flex-start;}
.fl.ale{align-items: flex-end;}
.fl.nowr{flex-wrap: nowrap;}
.fl.dir{flex-direction: row;}
.fl.dic{flex-direction: column;}
.fl.fl1{flex: 1;}

/* Layout */
.subCont{
	padding-top: 8rem;
	min-height: 80vh;
}
.secWr{
	margin-top: clamp(8rem,5.21vw,10rem);
	padding-left: 12rem;
	padding-right: 12rem;
}
.innerWr{
	padding-left: 5rem;
	padding-right: 5rem;
}

/* 필수 */
.required img,
img[alt="필수"]{
    display: none;
}
img[alt="필수"]{
    display: none;
}
.required{
    position: relative;
}
.required::after{
    content: "";
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
		margin-left: 0.2rem;
		vertical-align: top;
    border-radius: 100%;
    background: var(--orange);
}

/*** 구분선 ***/
.divid > *:not(:first-child),
.divid.thisBtn{
    position: relative;
    margin-left: 2rem;
}
.divid > *:not(:first-child)::after,
.divid.thisBtn::after{
    content: "";
    position: absolute;
    left: -1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 1.6rem;
    background: var(--gray);
}

/* scroll design */
::-webkit-scrollbar {
	/* width: 0.3rem; */
}
::-webkit-scrollbar-thumb {
	background-color: #dbdbdb;
}
::-webkit-scrollbar-track {
	background-color: #fff;
}


/* *** Pay Button *** */
/* Naver Pay */
.hs .npay_type_A_1,
.hs .npay_type_A_2{
    width: 100% !important;
}

/* swiper */
.hs .swiper-wrapper{
	align-items: stretch;
}
.hs .swiper-slide{
	height: auto;
}
.hs .swiper-pagination-fraction{
	position: absolute;
	right: 1.6rem;
	left: auto;
	bottom: 4.4rem;
	z-index: 1;
	width: fit-content;
}
.hs .swiper-pagination-fraction,
.hs .swiper-pagination-fraction *{
	font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: -0.012rem;
	color: var(--white_70);
}
.hs .swiper-pagination-fraction .swiper-pagination-current{
	font-weight: bold;
	color: var(--white);
}

.hs .swiper-horizontal > .swiper-pagination-progressbar,
.hs .swiper-pagination-progressbar.swiper-pagination-horizontal{
	top: auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
	max-width: 50rem;
    height: 0.2rem;
    background: none;
	z-index: 10;
}
.hs .swiper-horizontal > .swiper-pagination-progressbar::before{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%,-50%);
	width: 100%;
	height: 0.1rem;
	background: var(--black_10);
}
.hs .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
	height: 0.2rem;
	background: var(--black);
}

.hs .swiper-arrow{
	z-index: 10;
	position: absolute;
	top: 50%;
	left: 6rem;
	transform: translateY(-50%);
	width: 1.5rem;
	height: 2.5rem;
	background: url(//ecimg.cafe24img.com/pg644b36841511008/medipeel2023/img/pc/common/arr_big_prev_on.png)no-repeat center / contain;
}
.hs .swiper-arrow.swiper-arrow-next{
	left: auto;
	right: 6rem;
	transform: translateY(-50%) rotate(180deg);
}
.hs .swiper-arrow.swiper-button-disabled{
	background: url(//ecimg.cafe24img.com/pg644b36841511008/medipeel2023/img/pc/common/arr_big_prev_off.png)no-repeat center / contain;
}


/* 애니메이션 */
.aniready{
  opacity: 0;
}
.ani_load {
transition: transform 1s ease, opacity 1s ease, color 0.5s ease;
  opacity: 0;
}
.btt {
transform: translate(0,5rem);
}
.ltr {
transform: translate(-5rem,0);
}
.rtl {
transform: translate(5rem,0);
}
.ttb{
transform: translate(0,-5rem);
}
.play.ani_load{
transform: translate(0,0);
opacity:1;
}
